###############################################################################
# Fix for Cursor terminal
# See https://github.com/getcursor/cursor/issues/549#issuecomment-1934666368
###############################################################################
[[ "$TERM_PROGRAM" == "vscode" ]] && unset ARGV0


###############################################################################
# Antidote
###############################################################################
if [[ ! -d ${ZDOTDIR:-$HOME}/.antidote ]]; then
  git clone --depth=1 https://github.com/mattmc3/antidote.git ${ZDOTDIR:-~}/.antidote
fi

source ${ZDOTDIR:-$HOME}/.antidote/antidote.zsh
antidote load


###############################################################################
# Oh My Posh
###############################################################################
if ! command -v oh-my-posh &> /dev/null; then
  {{- if eq .chezmoi.os "darwin" }}
  brew install jandedobbeleer/oh-my-posh/oh-my-posh
  {{- else }}
  curl -s https://ohmyposh.dev/install.sh | bash -s
  {{- end }}
  oh-my-posh font install JetBrainsMono
fi

eval "$(oh-my-posh init zsh --config "${ZDOTDIR:-$HOME}/theme.omp.toml")"


###############################################################################
# Configuration
###############################################################################
# Load configuration
for config_file ("$ZDOTDIR/config"/*.zsh(N)); do
  source "$config_file"
done
